<div class="col-10 offset-1 about">
    <h1>About Splurty</h1>
    
    <p>
        Splurty was built by <a target="_blank" href="http://github.com/fazaton">Azat Faizullin</a>
    </p>
    
    <div class="row">
        <div class="col-12 col-sm-4">
            <%= image_tag 'azat.png', class: 'img-fluid' %>
        </div>
        
        <div class="col-12 col-sm-7 offset-sm-1">
            <h2 class="text-center">Azat Faizullin</h2>
            <br />
            <p id="bio">
                Azat Faizullin is an aspiring web developer
            </p>
        </div>
    </div>
    <br class="clear"/>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />